@model IEnumerable<Agenda_C.Models.Prestacion>

@{
    ViewData["Title"] = "Prestaciones";
    var isAdmin = User.IsInRole("Administrador");
}

<h1>Nuestras Prestaciones</h1>
<p class="lead">Conoce todos los servicios medicos que ofrecemos</p>

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Nueva Prestacion</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Ver Detalles</a>
                @if (isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
